body {
    background-color: #be0d02;
}

h1,
p,
button {
    text-align: center;
    color: white;
    font-family: "Inter", sans-serif;
}



h1 {
    width: 500px;
    font-size: 50px;
}

p {
    font-size: 20px;
}

section {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 195px;
    width: 50%;
}

.boton {
    text-decoration: none;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 5px;
    margin: auto;
    width: 150px;
    background-color: black;
    color: white;
    font-family: "Inter", sans-serif;
    text-align: center;
    margin-top: 80px;
}

div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    align-items: center;
}